@import 'styles-base.css';

/* custom properties */
:root {
    --footer-height: 50px;
    --footer-height-padded: calc(var(--footer-height) + (2 * var(--std-padding-vert)))
}


/* sticky footer courtesy of
  https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox */
.footer__footer {
    flex-shrink: 0;

    margin-left: var(--std-margin-horz);
    margin-right: var(--std-margin-horz);
    padding: var(--std-padding-vert) var(--std-padding-horz) var(--std-padding-vert) var(--std-padding-horz);
    height: var(--footer-height);
    line-height: var(--footer-height);
}

.div__copyright {
    float: left;
}

/* media queries */

/* small-medium screens, 700px high or less */ 
@media screen and (max-height: 700px) {
    :root {
        --footer-height: 40px;
    }
}

/* tiny-small screens, 500px high or less */ 
@media screen and (max-height: 500px) {
    :root {
        --footer-height: 35px;
    }
}

/* tiny-small screens, 300px high or less */ 
@media screen and (max-height: 300px) {
    :root {
        --footer-height: 30px;
    }
}