@import 'styles-base.css';

/* custom properties */
:root {
	/* game progress component */
	--game-progress-border-colour: #333;

	/* leader board component */
	--leader-board-border-colour: #333;
    --leader-board-header-colour: #333;
    --leader-board-header-text-colour: #fff;

	/* player selection tile */
    --var-result-selection-tile-margin: calc(2 * var(--std-margin-between));
    --var-result-selection-tile-img-size: 80px;
    --var-result-selection-tile-padding: 12px;
    --var-result-selection-tile-size: calc(var(--var-result-selection-tile-img-size) + (2 * var(--var-result-selection-tile-padding)));
}


/* game progress component */
.div__game-progress-wrapper {
}

.tr__game-progress-row {

}

.table__game-progress, 
.td__game-progress-info,
.td__game-progress-data {
    border: 1px solid var(--game-progress-border-colour);
}

/* leader board component */
.div__leader-board-wrapper {
}

.tr__player-score-row {

}

.table__leader-board, 
.td__player-name,
.td__player-score {
    border: 1px solid var(--leader-board-border-colour);
}

.thead__leader-board {
    background-color: var(--leader-board-header-colour);
    color: var(--leader-board-header-text-colour);
}


/* player selection tile */
.div__player-selection-tile-wrapper {
    margin: var(--var-result-selection-tile-margin);
    border: calc(var(--var-result-selection-tile-padding) / 2) solid var(--dark-blue);
    border-radius: calc(var(--var-result-selection-tile-img-size) * 0.2);
    padding: var(--var-result-selection-tile-padding);
    text-align: center;
    width: var(--var-result-selection-tile-size);
    background-image: none;
}

.div__player-selection-tile-wrapper:hover {
}

.img__player-selection-tile-img {
    height: var(--var-result-selection-tile-img-size);
    width: var(--var-result-selection-tile-img-size);
    border-radius: 50%;
}

.h3__player-selection-tile-banner {
    text-align: center;
}

.h4__player-selection-tile-name {
    text-align: center;
}

.h4__player-selection-tile-player-name {
    text-align: center;
}