@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=Sofadi+One&display=swap');

:root {
    --heading-font: 'Shojumaru', cursive;
    --heading-font-weight: 400;
    --paragraph-font: 'Sofadi One', cursive;
    --paragraph-font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
}

body {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
}
