@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=Sofadi+One&display=swap');


/* custom properties */
:root {
    /* colour scheme https://coolors.co/2176ae-57b8ff-b66d0d-fbb13c-fe6847 */
    --dark-blue: #2176AE;   /* star command blue */
    --light-blue: #57B8FF;  /* blue jeans */
    --brown: #B66D0D;  /* liver dogs */
    --yellow: #FBB13C;  /* yellow orange */
    --orange: #FE6847;  /* outrageous orange */
    --dark-blue-text: #fff;
    --light-blue-text: #000;
    --brown-text: #fff;
    --yellow-text: #000;
    --orange-text: #fff;

    /* contrast colours by https://color.adobe.com/create/color-contrast-analyzer */
    --basic-colour: #3474A3;
    --bigbang-colour: #94661F;
    --xtreme-colour: #BC4B32;
    
    --dark-blue-r: 33;
    --dark-blue-g: 118;
    --dark-blue-b: 174;
    --light-blue-r: 87;
    --light-blue-g: 187;
    --light-blue-b: 255;
    --yellow-r: 251;
    --yellow-g: 177;
    --yellow-b: 60;
    --orange-r: 254;
    --orange-g: 104;
    --orange-b: 71;

    /* https://htmlcolorcodes.com/color-picker/ 
        Color shades, tints and tones are created by adding black, white and gray respectively to a chosen color. */
    --light-blue-tone-1: #96D3FF;
    --light-blue-tone-2: #ABDBFF;

    --heading-font: 'Shojumaru', cursive;
    --heading-font-weight: 400;
    --heading-bold-font-weight: 600;
    --paragraph-font: 'Sofadi One', cursive;
    --paragraph-font-weight: 400;
    --paragraph-bold-font-weight: 600;

    --std-margin-horz: 7.5%;
    --std-margin-vert: 5px;
    --std-margin-between: 10px;

    --std-padding-horz: 10px;
    --std-padding-vert: 10px;

    /* default heading heights; https://www.w3schools.com/tags/tag_hn.asp */
    --default-h1-height: 2em;
    --default-h2-height: 1.5em;
    --default-h3-height: 1.17em;
    --default-h4-height: 1em;
    --default-h5-height: 0.83em;
    --default-h6-height: 0.67em;
    /* Desktop browsers use a default value of roughly 1.2, depending on the element's font-family.
        https://developer.mozilla.org/en-US/docs/Web/CSS/line-height */
    --default-line-height: 1.2;

    --element-font-size: 1.0em;   /* 100% std size 1em */
}

* {
    /* Love Running Walkthrough Project*/
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    /* sticky footer */
    height: 100%;
}

body {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);

    /* sticky footer */
    display: flex;
    flex-direction: column;
}

p,
label,
select,
li,
table {
    font-size: var(--element-font-size);
}

.std-line-height {
    line-height: var(--default-line-height);
}

.div__content {
    /* sticky footer */
    flex: 1 0 auto;

    margin-left: var(--std-margin-horz);
    margin-right: var(--std-margin-horz);
}

.h1__main-title, 
.h2__sub-title, 
.h3__sub-title {
    text-align: center;
}

/* based on css from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button */
.debossable,        /* debossible with background when active */
.debossable-nbi {   /* debossible without background when active */
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.debossable:active,
.debossable-nbi:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.debossable:active {
    /* slightly darken background when active */
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .1),
                                      rgba(0, 0, 0, .1) 30%,
                                      rgba(0, 0, 0, 0));
}

.debossable:disabled,
.debossable-nbi:disabled {
    box-shadow: none;
}

.button__clickable {
    border: 0;
    height: 35px;
    padding: 0 20px;
    font-size: var(--element-font-size);
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: orange;
}

.button__clickable:disabled {
    color: lightgrey;
    background-color: grey;
}
.button__clickable:hover {
    background-image: none;
}

.color__variant_basic {
    color: var(--basic-colour);
}

.color__variant_bigbang {
    color: var(--bigbang-colour);
}

.color__variant_xtreme {
    color: var(--xtreme-colour);
}

.background-color__variant_basic {
    background-color: var(--basic-colour);
}

.background-color__variant_bigbang {
    background-color: var(--bigbang-colour);
}

.background-color__variant_xtreme {
    background-color: var(--xtreme-colour);
}

.color_1 {
    color: #C90000; 
}
.color_2 {
    color: green;
}
.color_3 {
    color: blue;
}
.color_4 {
    color: #006666;
}
.color_5 {
    color: #6F6F6F;
}
.color_6 {
    color: #A36A00;
}
.color_7 {
    color: #BF0E6C;
}
.color_8 {
    color: #B55D53;
}
.color_9 {
    color: teal;
}
.color_10 {
    color: #1B1B7D;
}
.color_11 {
    color: #AB57A8;
}
.color_12 {
    color: #558016;
}
.background-color_1 {
    background-color: #C90000; 
}
.background-color_2 {
    background-color: green;
}
.background-color_3 {
    background-color: blue;
}
.background-color_4 {
    background-color: #006666;
}
.background-color_5 {
    background-color: #6F6F6F;
}
.background-color_6 {
    background-color: #A36A00;
}
.background-color_7 {
    background-color: #BF0E6C;
}
.background-color_8 {
    background-color: #B55D53;
}
.background-color_9 {
    background-color: teal;
}
.background-color_10 {
    background-color: #1B1B7D;
}
.background-color_11 {
    background-color: #AB57A8;
}
.background-color_12 {
    background-color: #558016;
}
.color_1_text {
    color: white; 
}
.color_2_text {
    color: white; 
}
.color_3_text {
    color: white; 
}
.color_4_text {
    color: white; 
}
.color_5_text {
    color: white; 
}
.color_6_text {
    color: white; 
}
.color_7_text {
    color: white; 
}
.color_8_text {
    color: white; 
}
.color_9_text {
    color: white; 
}
.color_10_text {
    color: white; 
}
.color_11_text {
    color: black; 
}
.color_12_text {
    color: black; 
}

/* media queries */

/* small-medium screens, 700px high or less */ 
@media screen and (max-height: 700px) {
    :root {
        --std-padding-vert: 8px;
    }
}

/* small-medium screens, 650px wide or less, 375px high or less */
@media screen and (max-width: 650px),
        screen and (max-height: 375px) {
    :root {
        --std-margin-between: 8px;

        --element-font-size: 0.95em;   /* 95% std size 1em */
    }

    .h1__main-title {
        font-size: 1.8em;   /* 90% std size 2em */
    }
    .h2__sub-title {
        font-size: 1.35em;  /* 90% std size 1.5em */
    }
    .h3__sub-title {
        font-size: 1.05em;  /* 90% std size 1.17em */
    }
}

/* tiny-small screens, 500px high or less */ 
@media screen and (max-height: 500px) {
    :root {
        --std-padding-vert: 6px;
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        --std-margin-between: 6px;

        --element-font-size: 0.9em;   /* 90% std size 1em */
    }

    .h1__main-title {
        font-size: 1.6em;   /* 80% std size 2em */
    }
    .h2__sub-title {
        font-size: 1.2em;   /* 80% std size 1.5em */
    }
    .h3__sub-title {
        font-size: 0.93em;  /* 80% std size 1.17em */
    }
}

/* tiny-small screens, 300px high or less */ 
@media screen and (max-height: 300px) {
    :root {
        --std-padding-vert: 4px;
    }
}

/* tiny-small screens, 280px wide or less, 320px high or less */
@media screen and (max-width: 280px),
        screen and (max-height: 320px) {
    :root {
        --std-margin-between: 5px;

        --element-font-size: 0.85em;   /* 85% std size 1em */
    }

    .h1__main-title {
        font-size: 1.4em;   /* 70% std size 2em */
    }
    .h2__sub-title {
        font-size: 1.05em;  /* 70% std size 1.5em */
    }
    .h3__sub-title {
        font-size: 0.82em;  /* 70% std size 1.17em */
    }
}

/* tiny screens, 310px high or less */ 
@media screen and (max-height: 310px) {
    .h1__main-title {
        font-size: 1.2em;   /* 60% std size 2em */
    }
    .h2__sub-title {
        font-size: 0.9em;   /* 60% std size 1.5em */
    }
    .h3__sub-title {
        font-size: 0.7em;   /* 60% std size 1.17em */
    }
}