@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=Sofadi+One&display=swap');


/* custom properties */
:root {
    /* colour scheme https://coolors.co/2176ae-57b8ff-b66d0d-fbb13c-fe6847 */
    --dark-blue: #2176AE;   /* star command blue */
    --light-blue: #57B8FF;  /* blue jeans */
    --brown: #B66D0D;  /* liver dogs */
    --yellow: #FBB13C;  /* yellow orange */
    --orange: #FE6847;  /* outrageous orange */
    --dark-blue-text: #fff;
    --light-blue-text: #000;
    --brown-text: #fff;
    --yellow-text: #000;
    --orange-text: #fff;

    /* https://htmlcolorcodes.com/color-picker/ 
        Color shades, tints and tones are created by adding black, white and gray respectively to a chosen color. */
    --light-blue-tone-1: #96D3FF;
    --light-blue-tone-2: #ABDBFF;

    --heading-font: 'Shojumaru', cursive;
    --heading-font-weight: 400;
    --heading-bold-font-weight: 600;
    --paragraph-font: 'Sofadi One', cursive;
    --paragraph-font-weight: 400;
    --paragraph-bold-font-weight: 600;

    --std-margin-horz: 7.5%;
    --std-margin-vert: 5px;
    --std-margin-between: 10px;

    --std-padding-horz: 10px;
    --std-padding-vert: 10px;

    --footer-height: 50px;

    --footer-height-padded: calc(var(--footer-height) + (2 * var(--std-padding-vert)))
}

* {
    /* Love Running Walkthrough Project*/
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    /* sticky footer */
    height: 100%;
}

body {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);

    /* sticky footer */
    display: flex;
    flex-direction: column;
}

.div__content {
    /* sticky footer */
    flex: 1 0 auto;

    margin-left: var(--std-margin-horz);
    margin-right: var(--std-margin-horz);
}

.h1__main-title, .h2__sub-title, .h3__sub-title {
    text-align: center;
}

/* based on css from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button */
.debossable {
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .1),
                                      rgba(0, 0, 0, .1) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.debossable:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button__clickable {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: orange;
}

.button__clickable:hover {
    background-image: none;
}

.color__variant_basic {
    color: var(--light-blue);
}

.color__variant_bigbang {
    color: var(--yellow);
}

.color__variant_xtreme {
    color: var(--orange);
}

.background-color__variant_basic {
    background-color: var(--light-blue);
}

.background-color__variant_bigbang {
    background-color: var(--yellow);
}

.background-color__variant_xtreme {
    background-color: var(--orange);
}
