/* Styles related to pay page */

/* custom properties */
:root {
	/* selection tile component */
    --var-game-tile-margin: calc(2 * var(--std-margin-between));
    --var-game-tile-img-size: 80px;
    --var-game-tile-padding: 12px;
    --var-game-tile-size: calc(var(--var-game-tile-img-size) + (2 * var(--var-game-tile-padding)));
}

/* play view */
.div__play-instruction {
    margin: 0 var(--var-game-tile-margin) 0 var(--var-game-tile-margin);
    text-align: center;
    font-family: var(--heading-font);
}

.div__play-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div__play-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--var-game-tile-margin);
}

/* selection tile component */
.div__selection-tile-wrapper {
    margin: var(--var-game-tile-margin);
    border: calc(var(--var-game-tile-padding) / 2) solid var(--dark-blue);
    border-radius: calc(var(--var-game-tile-img-size) * 0.2);
    padding: var(--var-game-tile-padding);
    text-align: center;
    width: var(--var-game-tile-size);
    height: 60%;
    background-image: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div__selection-tile-wrapper:hover {
    background-color: aliceblue;
}

.img__selection-tile-img {
    height: var(--var-game-tile-img-size);
    width: var(--var-game-tile-img-size);
    border-radius: 50%;
}

.p__selection-tile-name,
.p__selection-tile-name-med,
.p__selection-tile-name-long {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    text-align: center;
}

.p__selection-tile-key {
    display: block;
    color: gray;
}

.p__selection-tile-key-hidden {
    display: none;
}

.animate__fade-in {
    animation-name: animate-fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate__fade-out {
    animation-name: animate-fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animate-fade-in {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

@keyframes animate-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.div__selection-tile-wrapper-1 {
    border-color: #C90000; 
}
.div__selection-tile-wrapper-2 {
    border-color: green;
}
.div__selection-tile-wrapper-3 {
    border-color: blue;
}
.div__selection-tile-wrapper-4 {
    border-color: #006666;
}
.div__selection-tile-wrapper-5 {
    border-color: #6F6F6F;
}
.div__selection-tile-wrapper-6 {
    border-color: #A36A00;
}
.div__selection-tile-wrapper-7 {
    border-color: #BF0E6C;
}
.div__selection-tile-wrapper-8 {
    border-color: #B55D53;
}
.div__selection-tile-wrapper-9 {
    border-color: teal;
}
.div__selection-tile-wrapper-10 {
    border-color: #1B1B7D;
}
.div__selection-tile-wrapper-11 {
    border-color: #AB57A8;
}
.div__selection-tile-wrapper-12 {
    border-color: #558016;
}

/* media queries */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    .animate__fade-in {
        animation-name: none;
    }
    
    .animate__fade-out {
        animation-name: none;
    }
}

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    :root {
        --var-game-tile-img-size: 60px;

        --var-game-tile-padding: 9px;
    }

    .p__selection-tile-name {
        font-size: 0.9em;   /* 90% std size 1em */
    }
    .p__selection-tile-name-long {
        font-size: 0.7em;   /* 70% std size 1em */
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        --var-game-tile-img-size: 40px;

        --var-game-tile-padding: 6px;
    }

    .p__selection-tile-name {
        font-size: 0.8em;   /* 80% std size 1em */
    }
    .p__selection-tile-name-med {
        font-size: 0.7em;   /* 70% std size 1em */
    }
    .p__selection-tile-name-long {
        font-size: 0.45em;   /* 45% std size 1em */
    }
}

/* medium screens */ 
@media screen and (min-width: 540px) and (max-width: 1024px) and (max-height: 800px) {
    :root {
        --var-game-tile-img-size: 60px;

        --var-game-tile-padding: 8px;
    }
    .p__selection-tile-name {
        font-size: 0.8em;   /* 80% std size 1em */
    }
    .p__selection-tile-name-med {
        font-size: 0.7em;   /* 70% std size 1em */
    }
    .p__selection-tile-name-long {
        font-size: 0.45em;   /* 45% std size 1em */
    }
}

/* large screens, landscape */ 
@media screen and (max-width: 1024px) and (max-height: 600px) {
    :root {
        --var-game-tile-img-size: 35px;

        --var-game-tile-padding: 5px;
    }

    .p__selection-tile-name {
        font-size: 0.7em;   /* 70% std size 1em */
    }
    .p__selection-tile-name-med {
        font-size: 0.45em;   /* 45% std size 1em */
    }
    .p__selection-tile-name-long {
        font-size: 0.45em;   /* 45% std size 1em */
    }
    .p__selection-tile-key {
        font-size: 0.7em;   /* 70% std size 1em */
    }
}

/* long screens, landscape */ 
@media screen and (max-width: 1024px) and (max-height: 420px) {
    :root {
        --var-game-tile-img-size: 35px;

        --var-game-tile-padding: 5px;
    }

    .p__selection-tile-name,
    .p__selection-tile-name-med,
    .p__selection-tile-name-long {
        display: none;
    }
    .p__selection-tile-key {
        display: none;
    }
}

/* tiny screens, 320px wide or less */ 
@media screen and (max-width: 320px) and (max-height: 480px) {
    :root {
        --var-game-tile-img-size: 30px;

        --var-game-tile-padding: 4px;
    }
    .p__selection-tile-name,
    .p__selection-tile-name-med,
    .p__selection-tile-name-long {
        display: none;
    }
    .p__selection-tile-key {
        display: none;
    }
}

/* tiny screens, 280px wide or less */ 
@media screen and (max-width: 280px),
        screen and (max-height: 280px) {
    :root {
        --var-game-tile-img-size: 30px;

        --var-game-tile-padding: 4px;
    }

    .p__selection-tile-name,
    .p__selection-tile-name-med,
    .p__selection-tile-name-long {
        display: none;
    }
}

@media screen and (max-width: 700px) and (max-height: 375px) {
    :root {
        --var-game-tile-img-size: 30px;

        --var-game-tile-padding: 4px;
    }
    .p__selection-tile-name,
    .p__selection-tile-name-med,
    .p__selection-tile-name-long {
        display: none;
    }
}

@media screen and (max-width: 640px) and (max-height: 375px) {
    .p__selection-tile-key {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    .div__play-header {
        flex-direction: row;
    }
}