/* Styles related to main game select page */

/* custom properties */
:root {
    --var-variant-tile-margin: calc(2 * var(--std-margin-between));
    --var-variant-img-size: 150px;

    --var-variant-button-shadow-colour: #999;
    --var-variant-button-shadow-size: 5px;
    --var-variant-button-active-shadow-size: 2px;
}
  
.div__variant-options {
    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-template-columns: repeat(3, 1fr);

    align-items: center;
}

.div__variant-tile-wrapper {
    margin: var(--var-variant-tile-margin);
    border: calc(var(--std-margin-between) / 4) solid var(--dark-blue);
    border-radius: calc(var(--var-variant-img-size) * 0.2);
    padding: var(--std-margin-between);

    cursor: pointer;
}

.img__variant-tile-img {
    height: var(--var-variant-img-size);
    width: var(--var-variant-img-size);
}

.span__variant-tile-name {
    display: block;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: var(--default-h3-height);
    text-align: center;
    color: white;
}

.div__variant-select {
    text-align: center;
}

/* media queries */

/* small-medium screens, 750px wide or less and larger screens in portrait */ 
@media screen and (max-width: 750px) and (min-height: 376px) and (orientation: portrait),
        screen and (max-width: 820px) and (min-height: 1000px),
        screen and (max-width: 912px) and (min-height: 1000px) {

    .div__variant-options {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
}

/* small-medium screens, 700px wide or less and at least 370px high */ 
@media screen and (max-width: 700px) and (min-height: 370px) {

    :root {
        --var-variant-img-size: 130px;
    }
}

/* small-medium screens, 700px wide or less and at least 280px high */ 
@media screen and (max-width: 700px) and (min-height: 280px) {

    :root {
        --var-variant-img-size: 110px;
    }
}

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    :root {
        --var-variant-img-size: 130px;
        --var-variant-tile-margin: var(--std-margin-between);
    }
}

/* tiny-small screens, 480px wide or less */ 
@media screen and (max-width: 480px) {
    :root {
        --var-variant-img-size: 90px;
    }
}

/* tiny-small screens, 320px wide or less */ 
@media screen and (max-width: 320px) {
    :root {
        --var-variant-img-size: 60px;
    }
    .div__variant-tile-wrapper {
        width: 130px;
    }
}

/* tiny-small screens, 320px wide or less and 480px high or less */ 
@media screen and (max-width: 320px) and (max-height: 480px) {
    .img__variant-tile-img {
        display: none;
    }
}

/* tiny-small screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    :root {
        --var-variant-tile-size: 80px;
    }
}