/* Styles related to landing page */

/* custom properties */
:root {
    --var-num-games-input-border-radius: 6px;
    
    --var-input-margin: 1.5rem;
    
    --var-player-input-margin: 0.5rem;

    --var-params-font-size: 1em;
    
    --var-border-colour: #213140;

    --var-select-colour: var(--dark-blue);

    --var-radio-active-colour: var(--light-blue-tone-2);
    --var-radio-active-text-colour: var(--light-blue-text);
}

.div__landing-content {
    display: flex;
    flex-direction: column;
    margin-top: var(--var-input-margin);
}

.section__landing-choice {
    padding: var(--std-padding-vert) var(--std-padding-horz);
}

.div__landing-play,
.div__landing-how-to {
    text-align: center;
    margin: var(--var-input-margin) 0 var(--var-input-margin);
}

.button__select-game,
.button__how-to {
    width: 200px;
    height: 100px;
}

.button__select-game {
    background-color: var(--light-blue);
}

.button__how-to {
    background-color: var(--yellow);
}

/* media queries */

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    .button__select-game,
    .button__how-to {
        width: 180px;
        height: 90px;
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    .button__select-game,
    .button__how-to {
        width: 160px;
        height: 80px;
    }
}

/* tiny-small screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    .button__select-game,
    .button__how-to {
        width: 60%;
        height: 70px;
    }
    .button__clickable {
        padding: 0 15px;
    }
}

/* small-medium screens, 670px wide or less and 375px high or less */ 
@media screen and (max-width: 670px) and (max-height: 375px) {
    .button__select-game,
    .button__how-to {
        width: 120px;
        height: 60px;
    }

    .button__clickable {
        padding: 0 10px;
    }
}

/* landscape screens */ 
@media screen and (orientation: landscape) {
    .div__landing-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/* tiny screens, 200px wide or less */ 
@media screen and (max-width: 200px) {
    .button__select-game,
    .button__how-to {
        width: 50%;
        height: 60px;
    }

    .button__clickable {
        padding: 0 10px;
    }
}