@import 'styles-base.css';

/* custom properties */
:root {
    --result-selection-grid-auto-flow: row;
}

.div__round-result-leader-board {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.aside__leader-board {
	margin-top: var(--leader-board-margin);
	width: 20%;
} 

.section__round-result {
    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-auto-flow: var(--result-selection-grid-auto-flow);
	grid-template-rows: auto auto;
	grid-template-columns: repeat(3, 1fr);
    justify-items: center;
	align-items: end;

	width: 80%;
}

.h3__round-result-text {
	text-align: center;
}

.p__elimination-explanation {
	text-align: center;
}

.div__round-result-next-button-wrapper {
	text-align: center;
	margin: var(--var-input-margin) 0 var(--var-input-margin);
}

.button__round-result-next-round,
.button__round-result-next-game,
.button__round-result-done {
    width: 200px;
}

.button__round-result-next-round {
    background-color: green;
}

.button__round-result-next-game {
    background-color: green;
}

.button__round-result-done {
    background-color: blue;
}

/* courtesy of https://stackoverflow.com/a/42353985 */
.div__to-right-diagonal {
    background: linear-gradient(135deg, transparent calc(50% - 2px), black 50%, transparent calc(50% + 2px) );
}
.div__to-left-diagonal {
    background: linear-gradient(45deg, transparent calc(50% - 2px), black 50%, transparent calc(50% + 2px) );
}

.animate__fall-back {
    animation-name: animate-fall-back;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes animate-fall-back {
    from {
        transform: rotateX(0deg);
        opacity: 1;
    }
    to {
        transform: rotateX(60deg);
        opacity: 0.5;
    }
}

/* media queries */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    .animate__fall-back {
        animation-name: none;
    }
}