/* Styles related to result page */

.div__round-result-leader-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div__round-result {
    margin: var(--leader-board-margin) auto var(--leader-board-margin) auto;
	width: 80%;
    float: left;
}

.aside__leader-board {
    margin: var(--leader-board-margin) auto var(--leader-board-margin) auto;
    width: 20%;
    float: right;
} 

.section__round-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.div__result-heading {
	text-align: center;
}

.h2__round-result-text {
	text-align: center;
}

.p__elimination-explanation {
	text-align: center;
}

.div__round-result-next-button-wrapper {
	text-align: center;
	margin: var(--var-input-margin) 0 var(--var-input-margin);
    clear: both;
}

.button__round-result-next-round,
.button__round-result-next-game,
.button__round-result-done {
    width: 200px;
}

.button__round-result-next-round {
    background-color: green;
}

.button__round-result-next-game {
    background-color: green;
}

.button__round-result-done {
    background-color: blue;
}

/* courtesy of https://stackoverflow.com/a/42353985 */
.div__to-right-diagonal {
    background: linear-gradient(135deg, transparent calc(50% - 2px), black 50%, transparent calc(50% + 2px) );
}
.div__to-left-diagonal {
    background: linear-gradient(45deg, transparent calc(50% - 2px), black 50%, transparent calc(50% + 2px) );
}

.animate__fall-back {
    animation-name: animate-fall-back;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes animate-fall-back {
    from {
        transform: rotateX(0deg);
        opacity: 1;
    }
    to {
        transform: rotateX(60deg);
        opacity: 0.5;
    }
}

/* media queries */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    .animate__fall-back {
        animation-name: none;
    }
}

/* small-medium screens, 800px wide or less */ 
@media screen and (max-width: 800px) {

    .div__round-result-leader-board {
        flex-direction: column;
    }
    .aside__leader-board {
        width: 100%;
    }  
}

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    .button__round-result-next-round,
    .button__round-result-next-game,
    .button__round-result-done {
        width: 180px;
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    .button__round-result-next-round,
    .button__round-result-next-game,
    .button__round-result-done {
        width: 160px;
    }
}

/* tiny-small screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    .button__round-result-next-round,
    .button__round-result-next-game,
    .button__round-result-done {
        width: 60%;
    }
}

/* tiny screens, 200px wide or less */ 
@media screen and (max-width: 200px) {
    .button__round-result-next-round,
    .button__round-result-next-game,
    .button__round-result-done {
        width: 50%;
    }
}