@import 'styles-base.css';

/* custom properties */
:root {
    --var-num-games-input-border-radius: 6px;
    
    --var-input-margin: 1.5rem;
    
    --var-player-input-margin: 0.5rem;

    --var-params-font-size: 1em;
    
    --var-border-colour: #213140;

    --var-select-colour: var(--dark-blue);

    --var-radio-active-colour: var(--light-blue-tone-2);
    --var-radio-active-text-colour: var(--light-blue-text);
}


/* 'style__param-input' based on radio switch from 'RESPONSIVE TOGGLE SWITCH' (https://codepen.io/dsenneff/pen/ZoLVZW) 
    by Darin on [Free Frontend - 88 Radio Buttons CSS](https://freefrontend.com/css-radio-buttons/) */
.style__param-input {
    margin: 0;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: var(--var-params-font-size);
    line-height: 120%;
    font-weight: var(--paragraph-bold-font-weight);
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.style__param-input-left {
    border-radius: var(--var-num-games-input-border-radius) 0 0 var(--var-num-games-input-border-radius);
    border-right: none;
}

.style__param-input-right {
    border-radius: 0 var(--var-num-games-input-border-radius) var(--var-num-games-input-border-radius) 0;
    border-left: none;
}

/* number of players component */
.div__num-of-game-participants {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.div__num-players-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: var(--var-input-margin) 0 var(--var-input-margin);
}

.div__num-players-wrapper label {
    font-weight: var(--paragraph-bold-font-weight);
}

.div__num-players-wrapper select {
    font-size: var(--var-params-font-size);
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
    color: var(--var-select-colour);
}

/* number of games component */
/* radio switch based on 'RESPONSIVE TOGGLE SWITCH' (https://codepen.io/dsenneff/pen/ZoLVZW) 
    by Darin on [Free Frontend - 88 Radio Buttons CSS](https://freefrontend.com/css-radio-buttons/) */
.div__num-games-wrapper {
    margin: var(--var-input-margin) 0 var(--var-input-margin);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.div__num-games-wrapper input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.div__num-games-wrapper select {
    color: var(--var-select-colour);
}

.div__num-games-wrapper input + label {
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
    /* ----- */
}
.div__num-games-wrapper input + label:first-of-type {
    /* same as style__param-input-left */
    border-radius: var(--var-num-games-input-border-radius) 0 0 var(--var-num-games-input-border-radius);
    border-right: none;
}
.div__num-games-wrapper input + label:last-of-type {
    border-left: none;
}
.div__num-games-wrapper select {
    /* same as style__param-input-right */
    border-radius: 0 var(--var-num-games-input-border-radius) var(--var-num-games-input-border-radius) 0;
    border-left: none;
}
.div__num-games-wrapper input:hover + label {
    border-color: var(--var-border-colour);
}
.div__num-games-wrapper input:checked + label {
    color: var(--var-radio-active-text-colour);
    background-color: var(--var-radio-active-colour);
    border-color: var(--var-radio-active-colour);
    z-index: 1;
}
.div__num-games-wrapper input:focus + label {
    outline: dotted 1px #CCC;
    outline-offset: 0.35rem;
}

.div__num-games-wrapper select {
    font-size: var(--var-params-font-size);
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
    color: var(--dark-blue);
}

/* player name component */
.div__player-names {
    /* to handle margin collapse 
    https://www.joshwcomeau.com/css/rules-of-margin-collapse/ */
    margin-bottom: calc(2 * var(--var-input-margin));
}

.div__player-names-title {
    margin-top: var(--var-input-margin);
}

.div__player-name-group-wrapper {
}

.div__player-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin: var(--var-player-input-margin);
}

.div__player-name-wrapper label,
.div__player-names-title {
    font-weight: var(--paragraph-bold-font-weight);
}

.div__player-name-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input__player-name {
    font-size: var(--var-params-font-size);
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);

    border: 1px solid var(--var-border-colour);
    border-radius: 5px;
    padding: 6px;
}

.div__player-colour {
    width: 25px;
    height: 25px;
    margin-left: var(--std-margin-between);
}

.div__play {
    text-align: center;
    margin: var(--var-input-margin) 0 var(--var-input-margin);
}

.button__play {
    width: 200px;
}

.div__border-error {
    border: 2px solid red;
}

.div__duplicate-error {
    margin: var(--var-input-margin) 0 var(--var-input-margin);
    text-align: center;
    color: red;
}

/* media queries */

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    :root {
        --var-params-font-size: 0.9em;
    }
    .style__param-input {
        padding: 0.65rem 1.8rem;
    }

    .button__play {
        width: 180px;
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        --var-params-font-size: 0.8em;
    }

    .div__num-of-game-participants {
        flex-direction: column;
    }
    .div__num-of-game-participants .div__num-players-wrapper:first-of-type {
        margin-bottom: 0;
    }

    .style__param-input {
        padding: 0.55rem 1.6rem;
    }

    .button__play {
        width: 160px;
    }
}

/* tiny screens, 390px wide or less */ 
@media screen and (max-width: 390px) {
    .div__player-name-wrapper {
        flex-direction: column;
    }

    .div__player-name-wrapper label {
        margin-bottom: var(--std-margin-vert);
    }
}

/* tiny-small screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    :root {
        --var-params-font-size: 0.7em;
    }
    .style__param-input {
        padding: 0.25rem 0.5rem;
    }

    .button__play {
        width: 60%;
    }
}