@import 'styles-base.css';

/* custom properties */
:root {
	/* game progress component */
	--game-progress-border-colour: rgb(204, 204, 204);
	--game-progress-info-padding-size: 10px;
    --game-progress-background-color: floralwhite;
    --game-progress-grid-auto-flow: row;
    --game-progress-info-size: 80px;

	/* player selection tile */
    --var-result-selection-tile-margin: calc(2 * var(--std-margin-between));
    --var-result-selection-tile-img-size: 80px;
    --var-result-selection-tile-padding: 12px;
    --var-result-selection-tile-size: calc(var(--var-result-selection-tile-img-size) + (2 * var(--var-result-selection-tile-padding)));

	/* leader board component */
	--leader-board-border-colour: var(--game-progress-border-colour);
	--leader-board-info-size: 10px;
    --leader-board-header-colour: var(--brown);
    --leader-board-header-text-colour: #fff;
    --leader-board-background-color: floralwhite;
    --leader-board-margin: var(--var-result-selection-tile-margin);
}

/* game progress component */
.div__game-progress-wrapper {
    margin: var(--var-game-tile-margin);

    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-auto-flow: var(--game-progress-grid-auto-flow);
	grid-template-rows: auto auto;
	grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.div__game-progress-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--game-progress-background-color);
}

.div__game-progress-info,
.div__game-progress-data {
    border: 1px solid var(--game-progress-border-colour);
    border-radius: 5px;
    border-spacing: 4px;
}

.div__game-progress-data {
    color: blue;
}

.div__game-progress-info span,
.div__game-progress-data span {
    padding: 0 var(--game-progress-info-padding-size);
}

.div__game-progress-info {
    width: var(--game-progress-info-size);
}

.div__game-progress-data {
    width: calc(var(--var-game-tile-size) - var(--game-progress-info-size));
}

/* leader board component */
.div__leader-board-wrapper {
}

.tr__player-score-row {

}

.table__leader-board, 
.td__player-name,
.td__player-score {
    border: 1px solid var(--leader-board-border-colour);
    border-radius: 5px;
    border-spacing: 4px;
}

.table__leader-board {
    margin: auto;
    background-color: var(--leader-board-background-color);
}

.thead__leader-board {
    background-color: var(--leader-board-header-colour);
    color: var(--leader-board-header-text-colour);
}

.td__player-name span,
.td__player-score span {
    padding: 0 var(--game-progress-info-padding-size);
}

/* player selection tile */
.div__player-selection-tile-wrapper {
    margin: var(--var-result-selection-tile-margin);
    border: calc(var(--var-result-selection-tile-padding) / 2) solid var(--dark-blue);
    border-radius: calc(var(--var-result-selection-tile-img-size) * 0.2);
    padding: var(--var-result-selection-tile-padding);
    text-align: center;
    width: var(--var-result-selection-tile-size);
    background-image: none;
}

.div__player-selection-tile-wrapper:hover {
}

.img__player-selection-tile-img {
    height: var(--var-result-selection-tile-img-size);
    width: var(--var-result-selection-tile-img-size);
    border-radius: 50%;
}

.h3__player-selection-tile-banner {
    text-align: center;
}

.h4__player-selection-tile-name {
    text-align: center;
}

.h4__player-selection-tile-player-name {
    text-align: center;
}

/* media queries */

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        /* game progress component */
        --game-progress-grid-auto-flow: none;
    }

    .div__game-progress-wrapper {
        grid-template-columns: 1fr;
    }
    
}