@import 'styles-base.css';

/* custom properties */
:root {
    --var-variant-tile-margin: calc(2 * var(--std-margin-between));
    --var-variant-tile-size: 150px;

    --var-variant-button-shadow-colour: #999;
    --var-variant-button-shadow-size: 5px;
    --var-variant-button-active-shadow-size: 2px;
}
  
.section__select-variant {
    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-template-columns: repeat(3, 1fr);

    align-items: center;
}

.div__variant-tile-wrapper {
    margin: var(--var-variant-tile-margin);
    border: calc(var(--std-margin-between) / 4) solid var(--dark-blue);
    border-radius: calc(var(--var-variant-tile-size) * 0.2);
    padding: var(--std-margin-between);

    cursor: pointer;
    background-color: var(--light-blue);

    /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button */
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .1),
                                    rgba(0, 0, 0, .1) 30%,
                                    rgba(0, 0, 0, 0));
}

.div__variant-tile-wrapper:hover {
    background-color: var(--light-blue-tone);
}

.div__variant-tile-wrapper:active {
    background-color: var(--yellow);
    transform: scale(0.99, 0.99);
}

.img__variant-tile-img {
    height: var(--var-variant-tile-size);
    width: var(--var-variant-tile-size);
}

.h3__variant-tile-name {
    text-align: center;
}

.article__variant-select {
    text-align: center;
}

.button__variant-select {
    background-color: transparent;
}

/* media queries */

/* small-medium screens, 750px wide or less */ 
@media screen and (max-width: 750px) {

    .section__select-variant {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
}
