/* Styles related to components */

/* custom properties */
:root {
	/* game progress component */
	--game-progress-border-colour: rgb(204, 204, 204);
	--game-progress-span-padding: 10px;
    --game-progress-background-color: floralwhite;
    --game-progress-grid-auto-flow: row;
    --game-progress-title-size: 90px;
    --game-progress-entry-size: 130px;

	/* leader board component */
	--leader-board-border-colour: var(--game-progress-border-colour);
	--leader-board-span-padding: 10px;
    --leader-board-header-colour: var(--brown);
    --leader-board-header-text-colour: #fff;
    --leader-board-background-color: floralwhite;
    --leader-board-margin: var(--var-result-selection-tile-margin);
    --leader-board-player-name-size: 100px;
    --leader-board-entry-size: 120px;

	/* player selection tile */
    --var-result-selection-tile-margin: calc(2 * var(--std-margin-between));
    --var-result-selection-tile-img-size: 80px;
    --var-result-selection-tile-padding: 12px;
    --var-result-selection-tile-border: calc(var(--var-result-selection-tile-padding) / 2);
    --var-result-selection-tile-size: calc(var(--var-result-selection-tile-img-size) + (2 * var(--var-result-selection-tile-padding)));

    --var-result-selection-tile-column: calc(var(--var-result-selection-tile-size) + (2 * var(--var-result-selection-tile-margin)) + (2 * var(--var-result-selection-tile-border)) + (2 * var(--var-result-selection-tile-padding)) + 10px);

    --font-size-factor: 1;
    --h3-selection-tile-font-size: calc(var(--default-h3-height) * var(--font-size-factor));
    --h4-selection-tile-font-size: calc(var(--default-h4-height) * var(--font-size-factor));
}

/* game progress component */
.div__game-progress-wrapper {
    margin: var(--var-game-tile-margin);

    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-auto-flow: var(--game-progress-grid-auto-flow);
	grid-template-rows: auto auto;
	grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.div__game-progress-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--game-progress-background-color);
}

.div__game-progress-title,
.div__game-progress-data {
    border: 1px solid var(--game-progress-border-colour);
    border-radius: 5px;
    border-spacing: 4px;
}

.div__game-progress-data {
    color: blue;
}

.div__game-progress-title p,
.div__game-progress-data p {
    padding: 0 var(--game-progress-span-padding);
}

.div__game-progress-title {
    width: var(--game-progress-title-size);
}

.div__game-progress-data {
    width: calc(var(--game-progress-entry-size) - var(--game-progress-title-size));
    text-align: center;
}

/* leader board component */
.table__leader-board, 
.td__player-name,
.td__player-score {
    border: 1px solid var(--leader-board-border-colour);
    border-radius: 5px;
    border-spacing: 4px;
}

.table__leader-board {
    margin: auto;
    background-color: var(--leader-board-background-color);
}

.thead__leader-board {
    background-color: var(--leader-board-header-colour);
    color: var(--leader-board-header-text-colour);
}

.td__player-name p,
.td__player-score p {
    padding: calc(var(--std-padding-vert) / 4) var(--leader-board-span-padding);
}

/* player selection tile */
.div__play-sel-tile-wrapper {
    margin: var(--var-result-selection-tile-margin);
    border: var(--var-result-selection-tile-border) solid var(--dark-blue);
    border-radius: calc(var(--var-result-selection-tile-img-size) * 0.2);
    padding: var(--var-result-selection-tile-padding);
    text-align: center;
    width: var(--var-result-selection-tile-size);
    background-image: none;
}

.img__play-sel-tile-img {
    height: var(--var-result-selection-tile-img-size);
    width: var(--var-result-selection-tile-img-size);
    border-radius: 50%;
}

.h3__play-sel-tile-banner {
    text-align: center;
    font-size: var(--h3-selection-tile-font-size);
    color: goldenrod;
}

.h4__play-sel-tile-name {
    text-align: center;
    font-size: var(--h4-selection-tile-font-size);
}

.h4__play-sel-tile-player-name {
    text-align: center;
    font-size: var(--h4-selection-tile-font-size);
    overflow: hidden;
}

/* media queries */

/* small screens, 580px wide or less */ 
@media screen and (max-width: 580px) {
    :root {
        /* game progress component */
        --game-progress-grid-auto-flow: none;
    }

    .div__game-progress-wrapper {
        grid-template-columns: 1fr;
    }
}

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    :root {
        --var-result-selection-tile-img-size: 60px;

        --var-result-selection-tile-padding: 9px;

        --font-size-factor: 0.9;
    }

    .h4__play-sel-tile-long {
        font-size: calc(var(--default-h4-height) * 0.7);   /* 70% std size 1em */
        line-height: 1.6;   /* to keep tiles same height */
    }
    .h3__play-sel-tile-long {
        font-size: calc(var(--default-h3-height) * 0.7);   /* 70% std size 1em */
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        --var-result-selection-tile-img-size: 40px;

        --var-result-selection-tile-padding: 6px;

        --font-size-factor: 0.8;

        --game-progress-title-size: 80px;
        --game-progress-entry-size: 110px;
    }

    .h4__play-sel-tile-med {
        font-size: calc(var(--default-h4-height) * 0.7);   /* 70% std size 1em */
        line-height: 1.6;   /* to keep tiles same height */
    }
    .h4__play-sel-tile-long {
        font-size: calc(var(--default-h4-height) * 0.6);   /* 60% std size 1em */
        line-height: 2.4;   /* to keep tiles same height */
    }

    .h3__play-sel-tile-med {
        font-size: calc(var(--default-h3-height) * 0.6);   /* 70% std size 1em */
    }
    .h3__play-sel-tile-long {
        font-size: calc(var(--default-h3-height) * 0.5);   /* 60% std size 1em */
    }
}

/* tiny screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    :root {
        --var-result-selection-tile-img-size: 30px;

        --var-result-selection-tile-padding: 10px;

        --game-progress-span-padding: 5px;
        --game-progress-title-size: 80px;
        --game-progress-entry-size: 100px;
    }

    .h4__play-sel-tile-name {
        display: none;
    }
}