/* Styles related to pay page */

/* custom properties */
:root {
	/* selection tile component */
    --var-game-tile-margin: calc(2 * var(--std-margin-between));
    --var-game-tile-img-size: 80px;
    --var-game-tile-padding: 12px;
    --var-game-tile-size: calc(var(--var-game-tile-img-size) + (2 * var(--var-game-tile-padding)));
}

.div__play-player-name {
    margin: var(--var-game-tile-margin) var(--var-game-tile-margin) 0 var(--var-game-tile-margin);
}

/* play view */
.section__select-play {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* selection tile component */
.div__selection-tile-wrapper {
    margin: var(--var-game-tile-margin);
    border: calc(var(--var-game-tile-padding) / 2) solid var(--dark-blue);
    border-radius: calc(var(--var-game-tile-img-size) * 0.2);
    padding: var(--var-game-tile-padding);
    text-align: center;
    width: var(--var-game-tile-size);
    background-image: none;
}

.div__selection-tile-wrapper:hover {
    background-color: aliceblue;
}

.img__selection-tile-img {
    height: var(--var-game-tile-img-size);
    width: var(--var-game-tile-img-size);
    border-radius: 50%;
}

.h4__selection-tile-name {
    text-align: center;
}

.p__selection-tile-key {
    display: inline-block;
    color: gray;
}

.p__selection-tile-key-hidden {
    display: none;
}

.animate__fade-in {
    animation-name: animate-fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate__fade-out {
    animation-name: animate-fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animate-fade-in {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

@keyframes animate-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.div__selection-tile-wrapper-1 {
    border-color: red; 
}
.div__selection-tile-wrapper-2 {
    border-color: green;
}
.div__selection-tile-wrapper-3 {
    border-color: blue;
}
.div__selection-tile-wrapper-4 {
    border-color: aqua;
}
.div__selection-tile-wrapper-5 {
    border-color: darkgrey;
}
.div__selection-tile-wrapper-6 {
    border-color: orange;
}
.div__selection-tile-wrapper-7 {
    border-color: deeppink;
}
.div__selection-tile-wrapper-8 {
    border-color: salmon;
}
.div__selection-tile-wrapper-9 {
    border-color: teal;
}
.div__selection-tile-wrapper-10 {
    border-color: chocolate;
}
.div__selection-tile-wrapper-11 {
    border-color: orchid;
}
.div__selection-tile-wrapper-12 {
    border-color: darkseagreen;
}

/* media queries */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    .animate__fade-in {
        animation-name: none;
    }
    
    .animate__fade-out {
        animation-name: none;
    }
}

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    :root {
        --var-game-tile-img-size: 60px;

        --var-game-tile-padding: 9px;
    }

    .h4__selection-tile-name {
        font-size: 0.9em;   /* 90% std size 1em */
    }
    .h4__selection-tile-name-long {
        font-size: 0.7em;   /* 70% std size 1em */
        line-height: 1.6;   /* to keep tiles same height */
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        --var-game-tile-img-size: 40px;

        --var-game-tile-padding: 6px;
    }

    .h4__selection-tile-name {
        font-size: 0.8em;   /* 80% std size 1em */
    }
    .h4__selection-tile-name-med {
        font-size: 0.7em;   /* 70% std size 1em */
        line-height: 1.6;   /* to keep tiles same height */
    }
    .h4__selection-tile-name-long {
        font-size: 0.45em;   /* 60% std size 1em */
        line-height: 2.4;   /* to keep tiles same height */
    }
}

/* tiny screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    :root {
        --var-game-tile-img-size: 30px;

        --var-game-tile-padding: 4px;
    }

    .h4__selection-tile-name,
    .h4__selection-tile-name-med,
    .h4__selection-tile-name-long {
        display: none;
    }
}