@import 'styles-base.css';

/* custom properties */
:root {
    --var-variant-tile-margin: calc(2 * var(--std-margin-between));
    --var-variant-tile-size: 150px;

    --var-variant-button-shadow-colour: #999;
    --var-variant-button-shadow-size: 5px;
    --var-variant-button-active-shadow-size: 2px;
}
  
.section__select-variant {
    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-template-columns: repeat(3, 1fr);

    align-items: center;
}

.div__variant-tile-wrapper {
    margin: var(--var-variant-tile-margin);
    border: calc(var(--std-margin-between) / 4) solid var(--dark-blue);
    border-radius: calc(var(--var-variant-tile-size) * 0.2);
    padding: var(--std-margin-between);

    cursor: pointer;
}

.img__variant-tile-img {
    height: var(--var-variant-tile-size);
    width: var(--var-variant-tile-size);
}

.h3__variant-tile-name {
    text-align: center;
}

.article__variant-select {
    text-align: center;
}

.button__variant-select {
    background-color: transparent;
}

/* media queries */

/* small-medium screens, 750px wide or less */ 
@media screen and (max-width: 750px) {

    .section__select-variant {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
}

/* media queries */

/* small-medium screens, 650px wide or less */ 
@media screen and (max-width: 650px) {
    :root {
        --var-variant-tile-size: 130px;
    }
}

/* tiny-small screens, 450px wide or less */ 
@media screen and (max-width: 450px) {
    :root {
        --var-variant-tile-size: 100px;
    }
}

/* tiny-small screens, 280px wide or less */ 
@media screen and (max-width: 280px) {
    :root {
        --var-variant-tile-size: 80px;
    }
}