@import '../../App.css';

/* custom properties */
:root {

}


.div__num-of-game-participants {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}