@import '../../App.css';

/* custom properties */
:root {
    --selection-grid-auto-flow: column;
}

.section__select-play {
    display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	grid-auto-flow: var(--selection-grid-auto-flow);
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
}